.App {
    text-align: center;
}
.note-item {
  margin-bottom: 1rem;
}

.student-section {
  display: flex;
  justify-content: space-between;
}

.form {
  margin-bottom: 15px;
}

.list {
  border: 1px solid tomato;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.list-item {
  margin-bottom: 15px;
}