*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

.bio
{
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
}

.personal-details
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}